/* Форма для рассылки в футере */

.subscribe {
  margin-left: 93px;
}

.subscribe-mail {
  padding-left: 16px;

  height: 50px;
  width: 358px;

  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: $white;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $accent-cl;
  }
}

/* Форма модального окна */

.form {
  display: flex;

  width: 448px;
  height: 342px;

  &-list {
    line-height: 1.2;
  }

  &-items {
    position: relative;
  }

  &-lable {
    display: block;
    padding-bottom: 4px;

    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
  }

  &-input {
    padding-left: 42px;
    margin-bottom: 10px;
    height: 40px;

    font-size: 12px;
    line-height: 1.666;
    letter-spacing: 0.01em;
  }
}

.form-items .form-input,
.form-items textarea {
  width: 448px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: $black;
}

.form-input-svg {
  position: absolute;
  left: 12px;
  bottom: 21px;

  display: inline-block;
  width: 18px;
  height: 18px;
  fill: $black;
  background-color: transparent;
}

.form-input:hover,
.form-comment:hover,
.form-input:focus,
.form-comment:focus {
  outline: none;
  border: 1px solid $accent-cl;
  transition: 250ms $cubic;
}

.form-input:hover + .form-input-svg,
.form-input:focus + .form-input-svg {
  fill: $accent-cl;
  transition: 250ms $cubic;
}

.form-comment {
  padding-left: 16px;
  padding-right: 16px;
  resize: none;

  &::placeholder {
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  &-lable {
    padding-left: 15px;
  }
}

.link-policy {
  margin-left: 7px;
  color: $accent-cl;
}

.checkbox-icon {
  position: absolute;
  top: 0;
  left: 10px;

  display: inline-block;
  height: 15px;
  width: 16px;

  border: 2px solid $black;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  border-color: $accent-cl;
  background-color: $accent-cl;
  background-image: url("../image/logo/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox:hover + .checkbox-icon,
.checkbox:focus + .checkbox-icon {
  border-color: $accent-cl;
  transition: 250ms $cubic;
}

/* Оформление автозаполнения */

.subscribe-mail:-webkit-autofill,
.subscribe-mail:-webkit-autofill:hover,
.subscribe-mail:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px $bg-dark inset;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}

// Скрываем чекбокс
/* .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
