.dark-bg {
  & .logo {
    color: $white;
  }

  & .advantage-lable {
    color: $white;
    margin-bottom: 20px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  & .container {
    display: flex;
  }

  & .address {
    margin-top: 20px;
  }
}

.contacts-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $white;
}

.contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-join {
  margin-left: 70px;
}

.footer {
  & .social-icons-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  & .social-icons-svg {
    fill: $white;
  }
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: $accent-cl;
  transition: 250ms $cubic;
}
